html {
    height: 100%;
    width: 100%;
  }
/*kavin*/
  .container3{
    background-color:white ;
  }
  .row3{
    border: 50px;
  }
  .row4{
    border: 50px;
  }
  .column{
    background-color: white;
  }
.p2{
  text-align: center;
  color: darkgrey;
}
.hh{
  text-align: center;
}
.img3{
  text-align: center;
  margin-top: 60px;
  max-width: 100%;
  height: auto;
}
.group{
  display: flex;
  text-align: center;
}

/*kavin*/